<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PureJS</title>
  <script type="text/html" id="example1">
    <h1><%= title %></h1>
    <% for (let i of title) { %>
      <span><%= i %></span>
    <% } %>
  </script>
  <script type="text/html" id="example2">
    <h1><%= title %></h1>
    <button class="my-button">Click me <%= counter %></button>
  </script>
</head>
<body>
  <nav>
    <a href="#">
      <svg class="icon_home" width="22px" height="17px" viewBox="0 0 22 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path class="icon_home-path" d="M10,19 L10,14 L14,14 L14,19 C14,19.55 14.45,20 15,20 L18,20 C18.55,20 19,19.55 19,19 L19,12 L20.7,12 C21.16,12 21.38,11.43 21.03,11.13 L12.67,3.6 C12.29,3.26 11.71,3.26 11.33,3.6 L2.97,11.13 C2.63,11.43 2.84,12 3.3,12 L5,12 L5,19 C5,19.55 5.45,20 6,20 L9,20 C9.55,20 10,19.55 10,19 Z"></path>
      </svg>
    </a>
    <a href="#/ex1">example 1</a>
    <a href="#/ex2">example 2</a>
  </nav>
  <div id="app"></div>
  <footer class="footer">Copy &copy; 2021</footer>
  <script src="./app.js"></script>
</body>
</html>