@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
  --main_font: 'Montserrat', Verdana, sans-serif;
  --main_dark: rgb(25, 25, 28);
  --main_light: rgb(247, 247, 252);
  --details: rgb(62, 36, 110);
  --details2: rgb(150, 184, 250)
}

* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background: var(--main_light);
  font-family: var(--main_font);
  color: var(--main_dark);
}