.form_box {
  position: relative;
  background-image: linear-gradient(var(--details2), var(--details) 50%, var(--main_light) 50.1%, var(--main_light));
  width: 30%;
  min-height: 70vh;
  height: auto;
  margin: 40px auto;
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 5px;
}

.form {
  width: 85%;
  border-radius: 5px;
  background-color: var(--main_light);
  padding: 15px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}

.icon_person {
  display: block;
  width: 30%;
  height: auto;
  margin: 10% auto 0;
}

.icon_person-path {
  fill: var(--main_light);
}

.form * {
  margin: 0 0 10px;
  font-size: 0.9em;
}

.form_name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

.form_input {
  font-family: var(--main_font);
  border: none;
  outline: none;
}

.form_label {
  text-transform: uppercase;
  color: var(--details2);
  font-weight: 700;
  font-size: 0.7em;
}

.form_input-text {
  border-bottom: 1px solid var(--main_dark);
  font-size: 1.2em;
  background: inherit;
  color: var(--main_dark);
  transition: .4s;
  padding: 2px;
}

.form_input-text:focus {
  border-bottom: 1px solid var(--details2);
}

.input_username {
  margin-bottom: 40px;
}

.form_input-submit {
  cursor: pointer;
  position: relative;
  padding: 1.2em 0;
  width: 60%;
  align-self: center;
  border-radius: 48px;
  background-color: var(--details);
  color: var(--main_light);
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: var(--shadow);
  top: calc(10px * 2 + 0.9em + 1.2em);
  transition: .4s;
}

.form_input-submit:hover {
  background-color: var(--details2);
}

.data_error {
  color: red;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 1200px) {
  .form_box {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .form_box {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .form_box {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .icon_person {
    width: 50%;
  }
}
